<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Accueil</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
  </head>
  <body>
    <h1 th:text="${title}"></h1>

    <!-- Affichage des informations du plan comptable après soumission du formulaire -->
    <div th:if="${plan != null}">
      <p>Plan comptable récemment ajouté :</p>
      <p>Nom : <span th:text="${plan.nom}"></span></p>
      <p>Mois : <span th:text="${mois}"></span></p>
      <p>Année : <span th:text="${plan.annee}"></span></p>
      <p>Solde initial : <span th:text="${plan.oldSolde}"></span></p>
    </div>
    <br />
    <div th:each="plan : ${planList}">
      <p>Nom : <span th:text="${plan.nom}"></span></p>
      <p>Mois : <span th:text="${plan.mois}"></span></p>
      <p>Année : <span th:text="${plan.annee}"></span></p>
      <p>Solde initial : <span th:text="${plan.oldSolde}"></span></p>
      <hr />
    </div>

    <button id="addButton">Créer un plan de compte</button>

    <form action="/addCompta" id="formAdd" method="POST">
      <label for="nom">Nom :</label>
      <input type="text" id="nom" name="nom" required />

      <label for="monthPicker">Choisir un mois et une année :</label>
      <input type="text" id="monthPicker" required />

      <!-- Champs cachés pour mois et année -->
      <input type="hidden" id="mois" name="mois" />
      <input type="hidden" id="annee" name="annee" />

      <label for="oldSolde">Ancien solde :</label>
      <input
        type="number"
        name="oldSolde"
        min="0"
        value="0"
        step=".01"
        required
      />

      <button type="submit">Créer le plan</button>
    </form>
  </body>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script type="module" src="js/addCpt.js"></script>
</html>
